nav {
  position: fixed !important;
  top: 0px;
  width: 100%;
  background-color: #19222b;
  padding: 10px 0;
  box-shadow: 0px 0px 21px -4px #e4d804;
}
.navbar-brand {
  margin-right: 120px !important;
}
.nav-link,
.nav-link.active {
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
}
.top-home-icon {
  color: #fff;
  font-size: 28px;
}
.navbar-toggler {
  background-color: #fff !important;
}
@media screen and(max-width:991px) {
  .navbar-brand {
    /* margin-right: 0px; */
  }
  .container {
    text-align: left !important;
  }
}
